@import "fonts"
@import "vars"

*
	box-sizing: border-box
	outline: none

*::-webkit-input-placeholder
	color: inherit
	opacity: 1

*:-moz-placeholder
	color: inherit
	opacity: 1

*::-moz-placeholder
	color: inherit
	opacity: 1

*:-ms-input-placeholder
	color: inherit
	opacity: 1

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
    -webkit-appearance: none
    margin: 0

a, a:hover, a:focus, a:visited
	color: inherit
	text-decoration: none
body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: inherit
body input:required:valid,
body textarea:required:valid
	color: 	inherit

html, body
	height: 100%
	padding: 0
	margin: 0

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: "Roboto"
	overflow-x: hidden
	opacity: 1
	display: flex
	justify-content: center
	align-items: center
	background-color: $body-bg

.header
	position: relative
	z-index: 4
	width: 1152px

.navigation
	opacity: 0
	width: 0
	height: 0
	background-color: $nav-bg
	color: $nav-color
	display: flex
	flex-direction: column
	position: absolute
	right: 0
	bottom: -576px
	font-size: 24px
	justify-content: center
	align-items: center
	border-bottom-right-radius: 50px
	transition: height 0.3s, width 0.3s, opacity 0.3s
	&_active
		width: 280px
		height: 576px
		opacity: 1
		visibility: visible


.logo
	&__img
		width: 128px
		height: 128px
		position: absolute
		left: -33px
		bottom: -80px

.burger
	width: 37px
	height: 24px
	position: absolute
	right: 0
	bottom: 3.5px
	background-image: url("../img/icons/burger.svg")
	background-position: 0 0
	background-size: auto 100%
	background-repeat: no-repeat

.t3-form-container
	height: 576px
	width: 1152px
	position: relative

.t3-form		
	width: 100%
	height: 100%	
	position: absolute
	top: 0
	left: 0
	z-index: 1
	display: flex
	background-color: $body-bg
	&:after
		position: absolute
		display: block
		height: 32px
		top: -34px
		right: 40px
		width: 72px
		margin: 0 16px
		font-style: normal
		font-weight: normal
		line-height: normal
		font-size: 24px
		text-align: center
		border-width: 1px
		border-style: solid
		border-bottom-color: $body-bg
		background-color: $body-bg
	&.t3-form_active
		z-index: 3
		&:after
			border-width: 2px
	&__slide
		position: relative	
		height: 100%
	&__slide_img
		height: 100%
		position: relative
		z-index: 1
	&__slide_title
		position: absolute
		z-index: 2
		width: 100%
		text-align: center
		color: $slide-color
		font-weight: bold
		font-size: 32px
		line-height: normal
		margin-top: 96px
	&__fields
		height: 100%
		width: 576px
		border-width: 2px
		border-style: solid
		border-left: none
		border-bottom-right-radius: 50px
		padding-left: 120px
		padding-top: 80px
	&__input
		width: 384px
		height: 40px
		display: block
		border: none
		display: block
		font-style: normal
		font-weight: normal
		line-height: normal
		font-size: 16px
		padding: 0 16px
		transition: 0.3s
		&.t3-form__input_focus
			padding-bottom: 20px
			font-size: 8px
		&.t3-form__input_input
			padding-bottom: 0
			font-size: inherit
	&__text-error
		font-style: normal
		font-weight: normal
		line-height: normal
		font-size: 12px
		color: $error-color
		display: none
	&__group
		padding-bottom: 30px
		position: relative
		&_patronymic
			padding-bottom: 20px
		&_gender
			padding-bottom: 20px
		&_date
			padding-bottom: 15px
		&_accept
			padding-bottom: 20px
		&_repeat-passw
			padding-bottom: 48px
		&_message
			font-style: normal
			font-weight: normal
			line-height: normal
			font-size: 24px
			text-align: center
			width: 384px
			padding-top: 80px
			padding-bottom: 0
		&_text
			font-style: normal
			font-weight: normal
			line-height: normal
			font-size: 16px
			text-align: center
			width: 384px
			padding-bottom: 40px
			padding-top: 5px
		&_error
			.t3-form__input
				border: 2px solid $error-color
				background-color: $error-bg
			.t3-form__text-error
				display: block
			&:before
				content: ''
				display: block
				width: 32px
				height: 32px
				position: absolute
				right: 37px
				top: 5px
				background-image: url('../img/icons/error.svg')
				z-index: 200
	&__radio
    	display: none            
	&__radio-label
		font-style: normal
		font-weight: normal
		line-height: normal
		font-size: 16px
		position: relative
		display: inline-block
		padding-left: 40px
		width: 200px
		cursor: pointer
	&__radio-label::before
		content: " "
		display: block
		height: 24px
		width: 24px
		border-radius: 50%
		background-color: $radio-color
		position: absolute
		left: 0
		top: 0		
	&__radio-label::after
		content: " "
		display: block
		height: 0
		width: 0
		border-radius: 50%
		background-color: $radio-bg
		position: absolute
		margin: 12px
		left: 0
		top: 0		
		transition: height 0.3s, width 0.3s, margin 0.3s
	&__radio:checked + &__radio-label::after
		height: 16px
		width: 16px
		margin: 4px
	&__radio:disabled + &__radio-label::before
    	opacity: 0.3
	&__checkbox
    	display: none            
	&__checkbox-label
		font-style: normal
		font-weight: normal
		line-height: normal
		font-size: 12px
		position: relative
		display: inline-block
		padding-left: 32px
		cursor: pointer
	&__checkbox-label::before
		content: " "
		display: block
		height: 16px
		width: 16px
		background-color: $radio-color
		position: absolute
		left: 0
		top: 0
	&__checkbox-label::after
		content: " "
		display: none
		height: 16px
		width: 16px
		border-radius: 50%
		background-image: url('../img/icons/checkbox.svg')
		background-position: 0 0
		background-repeat: no-repeat
		background-size: 100%
		position: absolute
		margin: 1px
		left: 0
		top: 0
		z-index: 2
	&__checkbox:checked + &__checkbox-label::after
		display: block
	&__checkbox:disabled + &__checkbox-label::before
    	opacity: 0.3
	&__btn
		color: $btn-bg
		font-style: normal
		font-weight: bold
		line-height: normal
		font-size: 24px		
		width: 384px
		height: 56px
		position: relative
		cursor: pointer
		transition: 0.2s
		&_arrow
			padding-left: 72px
			text-align: left
			&:after
				content: " "
				display: block
				width: 73px
				height: 8px
				position: absolute
				right: 72px
				top: 25px
				background-image: url("../img/icons/arrow.svg")
				background-position: 0 0
				background-repeat: no-repeat
				transition: right 0.4s
			&:hover:after
				right: 65px		

	
.t3-form_orange
	&:after
		content: '1'
		right: 384px
	&.t3-form_active:after
		border-color: $border-orange
		border-bottom-color: $body-bg
	.t3-form
		&__fields
			border-color: $border-orange
		&__input
			background-color: $input-orange-bg
			&.t3-form__input_focus
				border: 2px solid $border-orange
			&.t3-form__input_input
				background-color: $error-bg
		&__btn
			background-color: $border-orange
			border: 2px solid $border-orange
			&:hover
				background-color: transparent
				color: $border-orange
			&:active
				background-color: $btn-orange-active-bg
				color: $btn-orange-active-color

.t3-form_brown
	&:after
		content: '2'
		right: 280px
	&.t3-form_active:after
		border-color: $border-brown
		border-bottom-color: $body-bg
	.t3-form
		&__fields
			border-color: $border-brown
		&__input
			background-color: $input-brown-bg
			&.t3-form__input_focus
				border: 2px solid $border-brown
			&.t3-form__input_input
				background-color: $error-bg
		&__btn
			background-color: $border-brown
			border: 2px solid $border-brown
			&:hover
				background-color: transparent
				color: $border-brown
			&:active
				background-color: $btn-brown-active-bg
				color: $btn-brown-active-color	

.t3-form_red
	&:after
		content: '3'
		right: 177px
	&.t3-form_active:after
		border-color: $border-red
		border-bottom-color: $body-bg
	.t3-form
		&__fields
			border-color: $border-red
		&__input
			background-color: $input-red-bg
			&.t3-form__input_focus
				border: 2px solid $border-red
			&.t3-form__input_input
				background-color: $error-bg
		&__btn
			background-color: $border-red
			border: 2px solid $border-red
			&:hover
				background-color: transparent
				color: $border-red
			&:active
				background-color: $btn-red-active-bg
				color: $btn-red-active-color